.InventoryList {
  display: flex;
  flex-direction: column;
  min-width: 274px;
  border-radius: 4px;
  padding: 12px;
  scroll-snap-align: start;
  background: var(--main-bg-color);
  margin: 12px;
  height: max-content;

  &__name {
    font-weight: 300;
    padding: 4px;
    font-size: 1.5rem;
    border-radius: inherit;
    background: none;
    min-height: max-content;
    color: var(--main-font-color);
    border-radius: inherit;
    text-align: left;
    display: inline;
    display: flex;
    flex-direction: column;
  }

  &__nameform {
    border-radius: inherit;
  }

  &__nameInput {
    background: var(--input-bg-color);
    color: var(--light-contrast-color);
    font-size: 1.5rem;
    border: 2px solid
      var(--light-font-color);
    border-radius: inherit;
    width: 100%;
  }

  &__delete {
    font-weight: 700;
    font-size: 30px;
    width: 45px;
    height: 45px;
    margin: 24px;
    color: var(--light-contrast-color);
    font-weight: 500;
    background: var(--light-font-color);
    align-self: flex-end;
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;
    border-radius: 22.5px;
    // transition: width 2s ease 1s;
    transition-property: width;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0.3s;
    position: relative;
    &__icon {
      position: absolute;
      right: 9px;
      bottom: 7px;
    }
    &__hover {
      font-size: 1rem;
      opacity: 0;

      visibility: hidden;

      transition: opacity 0.8s ease-in
        0.9s;
      transition: padding-left 0.8s
        linear 0.9s;
    }
  }

  @keyframes appear {
    0% {
      transform: scale(0);
      transform: translate(-20px);
    }
    100% {
      transform: scale(1);
      transform: translate(5px);
    }
  }

  &__delete:hover {
    width: 170px;
    & .InventoryList__delete__hover {
      transition: opacity 0.8s ease-out
        0.9s;
      animation: appear 1.2s linear 0.3s;
      opacity: 1;
      padding-left: 8px;
      visibility: visible;
    }
  }

  &__newItemButton {
    border-radius: inherit;
    font-weight: 700;
    padding: 10px 0;
    margin: 24px;
    color: var(--light-contrast-color);
    font-weight: 500;
    background: var(--light-font-color);
  }
}
