:root {
  --main-bg-color: #fcf6ee;
  --input-bg-color: #fffdfa;
  --light-bg-color: #f1e2c8;
  --light-contrast-color: #5b4d42;
  --mid-contrast-color: #c5a29d;
  --dark-contrast-color: #250404;
  --light-font-color: #fed1d1;
  --main-font-color: #2f2a25;
  --dark-font-color: #1a2822;
}

body {
  font-family: Helvetica, Arial,
    sans-serif;
}
button svg,
button span {
  pointer-events: none;
}

button {
  border: 0;
  background: var(--light-font-color);
  border-radius: 4px;
  margin: 2px;
}

button:hover,
select:hover {
  box-shadow: inset;
  box-shadow: inset 0.7px 1.3px 7px
      var(--main-bg-color),
    inset -1px -0.6px 4px
      var(--light-contrast-color);
}

button:active {
  box-shadow: inset;
  box-shadow: inset 0.7px 1px 4px
      var(--main-bg-color),
    inset -0.5px -0.2px 2px
      var(--light-contrast-color);
}

textarea {
  border: 0;
  transition: box-shadow 1s ease-out
    0.3s;
  box-shadow: inset 1px 1px 7px
    var(--light-bg-color);
}

input[type='text'] {
  border: 0;
  transition: box-shadow 1s ease-out
    0.3s;
  box-shadow: inset 1px 1px 7px
    var(--light-bg-color);
}
textarea:hover {
  box-shadow: inset 5px 5px 7px
    var(--light-bg-color);
}

input[type='text']:hover {
  box-shadow: inset 5px 5px 7px
    var(--light-bg-color);
}
body {
  background: var(--mid-contrast-color);
}
