:root {
  --main-bg-color: #eecab9;
  --light-bg-color: #ddcab8;
  --light-contrast-color: #d79148;
  --mid-contrast-color: #c5a29d;
  --dark-contrast-color: #b66620;
  --light-font-color: #ddb991;
  --main-font-color: #d79148;
  --dark-font-color: #9e5916;
  background: var(--mid-contrast-color);
}
